html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

    .image-container .imageOne,
    .image-container .imageTwo,
    .image-container .imageThree {
        text-align: center;
        width: 100px; /* Adjust this width as needed */
    }

    .image-container img {
        width: 100%;
        height: auto;
    }

    .image-container p {
        margin-top: 10px;
    }